/* Manuscript via CSS v2.0 — counters and automated titles
 *
 * This stylesheet does two things:
 * - counts up all the parts, chapters, and scenes and the count of each depth
 *   of these sections. (Limited to a depth of 5.)
 * - enables you to turn on automated title strings. In lieu of page numbers,
 *   you can turn on automated titles so that reviewers have a navigational
 *   means of referencing a section in their critique. You can automate
 *   appending a manuscript tree structure value the titles. Example.
 *   The third scene in the second chapter would have a value of `Scene 2.3`.
 *   DEFAULT behavior: SectionName n.n.n.n
 *
 * How to use . . .
 *
 * Import this stylesheet after you import `manuscript.css`. Then either leave
 * the defaults as they are or turn on/off these variables to generate the
 * title string you want. You turn on functionality by `unset`ing various
 * `-off` switches in your markdown. You turn them off by setting their values
 * to "".
 *   `--m-autotitle-name-off` -- (default is unset/ON!) adds "Part", "Chapter",
 *       "Scene" automatically added to the string.
 *   `--m-autotitle-depth-off` -- (default is ""/off) appends the tree
 *       location reference (dot-deliminated numbers).
 *   `--m-autotitle-leaf-off` -- (default is unset/ON!) unset this to only
 *       append the leaf-node count: Part 1, Part 2, Chapter 1, Scene 1 etc.
 *       (Don't turn on both -depth-off and -leaf-off.)
 *
 *   `--m-autotitle-for-part-off` -- (default is unset/ON!) append to the part
 *       titles?
 *   `--m-autotitle-for-chapter-off` -- (default is unset/ON!) append to the
 *       chapter titles?
 *   `--m-autotitle-for-scene-off` -- (default is unset/ON!) append to the
 *       scene titles?
 *
 *   `--m-autotitle-tally-off` -- (default is ""/off) unset this if you want
 *       excessive information that includes the total cummulative counts for
 *       part, chapters, & scenes. I don't recommend using this.
 *
 * Finally, Anywhere you want to see the automated enumeration of your
 * manuscript part, chapter, or scene, you simply add an `m-header` block to
 * the section of interest with a # included (title). The string will be added
 * to that title. If a section doesn't have that .m-header and title # in your
 * markdown, a title will not be shown for that section.
 *
 * (note, I set the switches below for demonstrative purposes. They are set to
 *  their default values here.)
 *
 * <style>
 *     @import url("../manuscript.css");
 *     @import url("../manuscript-counters.css");
 *     :root {
 *         --m-append-name-off: unset;
 *         --m-append-depth-off: "";
 *         --m-autotitle-leaf-off: unset;
 *         --m-autotitle-tally-off: "";
 *         --m-dinkus: unset;
 *     }
 * </style>
 *
 * . . . the beginning of your document . . .
 *
 * <section class="m-chapter">
 * <div class="m-header">
 *
 * #
 *
 * </div>
 *
 * <section class="m-scene">
 * <div class="m-header">
 *
 * #
 *
 * </div>
 *
 * . . . the rest of your document . . .
 *
 *
 * Note. In the example above, I also unset `--m-dinkus`. I do that when I have
 * scene titles. The existence of scene titles replaces the purpose of
 * the dinkus.
 *
 * Copyright (c) Todd Warner <t0dd@protonmail.com>
 * This work is licensed under Attribution 4.0 International. To view a copy
 * of this license, visit http://creativecommons.org/licenses/by/4.0/
 */

:root {
    /* "" = off -and- unset = on. */
    --m-autotitle-name-off: unset;
    --m-autotitle-depth-off: "";
    --m-autotitle-leaf-off: unset;
    --m-autotitle-tally-off: "";
    --m-autotitle-for-part-off: unset;
    --m-autotitle-for-chapter-off: unset;
    --m-autotitle-for-scene-off: unset;

    /* --- do not touch these --- */
    --_m-autotitle-tally: " (p" counter(npart) ", c" counter(nchapter) ", s" counter(nscene) ")";

    --_m-autotitle1:
      var(--m-autotitle-leaf-off, " " counter(nsection1))
      var(--m-autotitle-depth-off, " " counter(nsection1))
      var(--m-autotitle-tally-off, " " var(--_m-autotitle-tally));
    --_m-autotitle2:
      var(--m-autotitle-leaf-off, " " counter(nsection2))
      var(--m-autotitle-depth-off, " " counter(nsection1) "." counter(nsection2))
      var(--m-autotitle-tally-off, " " var(--_m-autotitle-tally));
    --_m-autotitle3:
      var(--m-autotitle-leaf-off, " " counter(nsection3))
      var(--m-autotitle-depth-off, " " counter(nsection1) "." counter(nsection2) "." counter(nsection3))
      var(--m-autotitle-tally-off, " " var(--_m-autotitle-tally));
    --_m-autotitle4:
      var(--m-autotitle-leaf-off, " " counter(nsection4))
      var(--m-autotitle-depth-off, " " counter(nsection1) "." counter(nsection2) "." counter(nsection3) "." counter(nsection4))
      var(--m-autotitle-tally-off, " " var(--_m-autotitle-tally));
    --_m-autotitle5:
      var(--m-autotitle-leaf-off, " " counter(nsection5))
      var(--m-autotitle-depth-off, " " counter(nsection1) "." counter(nsection2) "." counter(nsection3) "." counter(nsection4) "." counter(nsection5))
      var(--m-autotitle-tally-off, " " var(--_m-autotitle-tally));
}

/* Initialize counters for all the major manuscript components. */
#manuscript {
    counter-reset: npage npart nchapter nscene
                   nsection nsection1 nsection2 nsection3 nsection4;
    & > section::before {
        counter-increment: nsection nsection1;
        content: "";
    }
    & > section {
        counter-reset: nsection2;
        --_m-autotitle: var(--_m-autotitle1);
        &.m-part::before {
            counter-increment: npart nsection nsection1;
            content: "";
        }
        &.m-chapter::before {
            counter-increment: nchapter nsection nsection1;
            content: "";
        }
        &.m-scene::before {
            counter-increment: nscene nsection nsection1;
            content: "";
        }
        & > section::before {
            counter-increment: nsection nsection2;
            content: "";
        }
        & > section {
            counter-reset: nsection3;
            --_m-autotitle: var(--_m-autotitle2);
            &.m-part::before {
                    counter-increment: npart nsection nsection2;
                    content: "";
            }
            &.m-chapter::before {
                counter-increment: nchapter nsection nsection2;
                content: "";
            }
            &.m-scene::before {
                counter-increment: nscene nsection nsection2;
                content: "";
            }
            & > section::before {
                counter-increment: nsection nsection3;
                content: "";
            }
            & > section {
                counter-reset: nsection4;
                --_m-autotitle: var(--_m-autotitle3);
                &.m-part::before {
                    counter-increment: npart nsection nsection3;
                    content: "";
                }
                &.m-chapter::before {
                    counter-increment: nchapter nsection nsection3;
                    content: "";
                }
                &.m-scene::before {
                    counter-increment: nscene nsection nsection3;
                    content: "";
                }
                & > section::before {
                    counter-increment: nsection nsection4;
                    content: "";
                }
                & > section {
                    --_m-autotitle: var(--_m-autotitle4);
                    &.m-part::before {
                        counter-increment: npart nsection nsection4;
                        content: "";
                    }
                    &.m-chapter::before {
                        counter-increment: nchapter nsection nsection4;
                        content: "";
                    }
                    &.m-scene::before {
                        counter-increment: nscene nsection nsection4;
                        content: "";
                    }
                    & > section::before {
                        counter-increment: nsection nsection5;
                        content: "";
                    }
                    & > section {
                        --_m-autotitle: var(--_m-autotitle5);
                    }
                }
            }
        }
    }

    /* build the string to append to a title */
    & section.m-part {
        --m-autotitle: var(--m-autotitle-for-part-off, var(--m-autotitle-name-off, "Part ") var(--_m-autotitle));
    }
    & section.m-chapter {
        --m-autotitle: var(--m-autotitle-for-chapter-off, var(--m-autotitle-name-off, "Chapter ") var(--_m-autotitle));
    }
    & section.m-scene {
        --m-autotitle: var(--m-autotitle-for-scene-off, var(--m-autotitle-name-off, "Scene ") var(--_m-autotitle));
    }

    /* application f the autotitle title string */
    & section > .m-header > h1::after {
        content: var(--m-autotitle);
    }

}




