/* Manuscript via CSS v2.0 — constants and configurations
 *
 * This sets most of of the switches you can flip to massage the formatting of
 * your manuscript. To see what is available (and there are far too many
 * available, search for the comments that start with "DEFAULTS" in this file.
 *
 * Warning: if you override any of these, please be aware that they are subject
 * to change. Especially the more esoteric ones. Right now there are far too
 * many and I aim to simpify them in the future.
 *
 * Check the example manuscripts in this repo, but, essentially, this is how
 * you override these settings. In your markdown, just add a :root {} section
 * in your <style> block ... and redeclare variables. Here's an example:

<style>
@import "manuscript.css";
@page { size: A4 portrait; margin: 1in; }
@page { size: A5 portrait; margin: .75in; }
@page { size: A6 portrait; margin: 12.7mm; }
@page { size: 5.5in 8.5in; margin: .75in; }
@page { size: letter portrait; margin: 1in; }

:root {
    --m-font-family: "TeX Gyre Pagella", Palladio, Palantino, serif;
    --m-font-family-title: "Comic Neue", "Comic Sans", cursive;
    --m-font-family-subtitle: "Comic Neue", "Comic Sans", cursive;
    --m-font-family-byline: "Comic Neue", "Comic Sans", cursive;
    --m-font-size: 19px;
    --m-font-size-title: 1.5rem;
    --m-font-weight-title: bold;
    --m-font-weight-subtitle: medium;
    --m-line-spacing: 2.5;
    --m-indent: .35in;
    --m-dinkus: "~"
    --m-30-: "~ ~ ~;
}

 *
 * Copyright (c) Todd Warner <t0dd@protonmail.com>
 * This work is licensed under Attribution 4.0 International. To view a copy
 * of this license, visit http://creativecommons.org/licenses/by/4.0/
 */

@import "_manuscript-constants.css?rev=20240325";

@page { size: letter portrait; margin: 1in; }

:root {
    /*
     * DEFAULTS - section 1
     */

    --m-page-width:  var(--m-page-widthUS);
    --m-page-height: var(--m-page-heightUS);
    --m-page-margin: var(--m-page-marginUS);

    --m-fontstack-serif: var(--m-fontstack-times);
    --m-fontstack-sans-serif: var(--m-fontstack-arial);
    --m-fontstack-sans: var(--m-fontstack-sans-serif);
    --m-fontstack-mono: var(--m-fontstack-courier);

    --m-font-size: var(--m-font-size-standard); /* 16px (12pt) */
    --m-font-weight: var(--m-font-weight-standard); /* normal */
    --m-line-spacing: var(--m-line-spacing-standard); /* 2 (double) */

    /*
     * DEFAULTS - section 2
     * pedantic and shouldn't really be overidden
     */

    /* baseline font things and line spacing */
    --m-font-size-poetry:          inherit;
    --m-font-size-preformatted:    inherit;
    --m-font-size-code:            inherit;
    --m-font-size-code-inline:     inherit;

    --m-font-weight-poetry:        inherit;
    --m-font-weight-preformatted:  inherit;
    --m-font-weight-code:          inherit;
    --m-font-weight-code-inline:   inherit;

    --m-line-spacing-poetry:       var(--m-line-spacing-single);
    --m-line-spacing-preformatted: inherit;
    --m-line-spacing-code:         inherit;

    --m-text-transform-title-poetry: uppercase;


    /*
     * DO NOT OVERRIDE
     */

    /* constraining the content between the margins */
    --m-content-width: calc(var(--m-page-width) - calc(var(--m-page-margin) * 2));
    --m-content-height: calc(var(--m-page-height) - calc(var(--m-page-margin) * 2));

    /* font-family - narrative and nonnarrative */
    --m-font-family-narrative: var(--m-fontstack-serif);
    --m-font-family-nonnarrative: var(--m-fontstack-sans);
    --m-font-family-non-narrative: var(--m-font-family-nonnarrative);

    --m-font-family-narrative-preformatted: var(--m-fontstack-mono);
    --m-font-family-nonnarrative-preformatted: var(--m-fontstack-mono);
    --m-font-family-non-narrative-preformatted: var(--m-font-family-nonnarrative-preformatted);

    --m-font-family-narrative-code: var(--m-fontstack-mono);
    --m-font-family-nonnarrative-code: var(--m-fontstack-mono);
    --m-font-family-non-narrative-code: var(--m-font-family-nonnarrative-code);

    --m-font-family-narrative-poetry: var(--m-fontstack-serif);
    --m-font-family-nonnarrative-poetry: var(--m-fontstack-serif);
    --m-font-family-non-narrative-poetry: var(--m-font-family-nonnarrative-poetry);

    /* first-line indent/inter-paragraph spacing - narrative & nonnarrative */
    --m-indent-narrative: var(--m-indentUS);
    --m-indent-narrative-first-paragraph: 0px;
    --m-paragraph-spacing-narrative: 0px;

    --m-indent-nonnarrative: 0px;
    --m-indent-nonnarrative-first-paragraph: 0px;
    --m-paragraph-spacing-nonnarrative: 1rem;
    --m-indent-non-narrative: var(--m-indent-nonnarrative);
    --m-indent-non-narrative-first-paragraph: var(--m-indent-nonnarrative-first-paragraph);
    --m-paragraph-spacing-non-narrative: var(--m-paragraph-spacing-nonnarrative);

    /* Offset calculations used to offset title-header blocks from top of the
     * page. Manuscripts standards recommend placing the main title-block
     * header anywhere from 1/3rd to 1/2 down the page. And if a long-form
     * manuscript the same holds true for part headers and chapter headers. */
    --m-page-offset-1-5th: calc(var(--m-page-height) / 5);
    --m-page-offset-1-4th: calc(var(--m-page-height) / 4);
    --m-page-offset-1-3rd: calc(var(--m-page-height) / 3); /* or 3.66666in US */
    --m-page-offset-5-12th: calc(var(--m-page-height) * 5 / 12); /* or 4.58333in US */
    --m-page-offset-half: calc(var(--m-page-height) / 2); /* or 5.5in US */
    --m-content-offset-1-5th: calc(var(--m-page-offset-1-5th) - var(--m-page-margin));
    --m-content-offset-1-4th: calc(var(--m-page-offset-1-4th) - var(--m-page-margin));
    --m-content-offset-1-3rd: calc(var(--m-page-offset-1-3rd) - var(--m-page-margin));
    --m-content-offset-5-12th: calc(var(--m-page-offset-5-12th) - var(--m-page-margin));
    --m-content-offset-half: calc(var(--m-page-offset-half) - var(--m-page-margin));

    /* Title-block headers offset settings - for short-form and long-form
     * I'm being a bit more than pedantic here. And note: parts & chapters have
     * different settings depending if you are rendering to the screen or if
     * rendering to print. (We "simulate" for the screen.) */
    --m-offset-title-short:        var(--m-content-offset-5-12th);
    --m-offset-title-short-poetry: var(--m-content-offset-1-5th);
    --m-offset-title-long:         var(--m-content-offset-5-12th);

    --m-offset-part-short:           var(--m-room-for-two);
    --m-offset-part-render-short:    var(--m-room-for-two);
    --m-offset-chapter-short:        var(--m-room-for-two);
    --m-offset-chapter-render-short: var(--m-room-for-two);
    --m-offset-chapter-short-poetry: var(--m-room-for-two);
    --m-offset-scene-short:           var(--m-elbow-room);

    --m-offset-part-long:           var(--m-offset-title-long);
    --m-offset-part-render-long:    var(--m-room-for-two);
    --m-offset-chapter-long:        var(--m-offset-title-long);
    --m-offset-chapter-render-long: var(--m-room-for-two);
    --m-offset-chapter-long-poetry: 0px;
    --m-offset-scene-long:           var(--m-elbow-room);

    --m-max-width-header: calc(var(--m-content-width) - calc(var(--m-page-margin) * 1.5));

    /* left and right margins - pre and blockquote */
    --m-margins-preformatted: 0px;
    --m-margins-blockquote:   calc(var(--m-indent-narrative) * 1.5);

    /*
     * DEFAULTS - section 3
     */

    /* - dinkus and -30-
     * - baseline font-size, font-weight, font-family, and line-spacing
     * - indent and inter-paragraph spacing settings when needed
     * - text-alignment
     * - title offsets (distance down the page if triggered by a page break)
     * - All are initially set to expected manuscript standards
     */

    --m-dinkus: var(--m-marker0);
    --m-30-: var(--m-marker10);

    /* everything is defaulted to -narrative and then that gets reset
     * by manuscript.css to something different if necessary */
    --m-font-family:              var(--m-font-family-narrative);
    --m-font-family-preformatted: var(--m-font-family-narrative-preformatted);
    --m-font-family-code:         var(--m-font-family-narrative-code);
    --m-font-family-poetry:       var(--m-font-family-narrative-poetry);

    --m-indent:                 var(--m-indent-narrative);
    --m-indent-first-paragraph: var(--m-indent-narrative-first-paragraph);
    --m-paragraph-spacing:      var(--m-paragraph-spacing-narrative);

    --m-offset-title: var(--m-offset-title-short);
    --m-offset-part: var(--m-offset-part-short);
    --m-offset-chapter: var(--m-offset-chapter-short);
    --m-offset-part-render: var(--m-offset-part-render-short);
    --m-offset-chapter-render: var(--m-offset-chapter-render-short);
    --m-offset-scene: var(--m-offset-scene-short);

    /*
     * Per-component font-size, font-weight, font-family, line-spacing, …
     * Initially all are set to what was set above.
     * - contact, header(s), facts, title/subtitle, byline
     * - part, chapter, scene, poem
     * - epigraph, dingus, -30-
     * This is insanely pedantic, I know.
     */

    /* font settings - contact info (and facts if put in the right corner */
    --m-font-size-contact:    var(--m-font-size);
    --m-font-weight-contact:  var(--m-font-weight);
    --m-font-family-contact:  var(--m-font-family);
    --m-line-spacing-contact: var(--m-line-spacing-single);

    /* font settings - the main title-block header */
    --m-font-size-header: var(--m-font-size);
    --m-font-size-headers: var(--m-font-size);
    --m-font-weight-header: var(--m-font-weight);
    --m-font-weight-headers: var(--m-font-weight);
    --m-font-family-header: var(--m-font-family);
    --m-font-family-headers: var(--m-font-family);

    /* font settings - the main other headers */

    /* font settings - the main titles, subtitles, and authors */
    --m-font-size-title: var(--m-font-size);
    --m-font-size-subtitle: var(--m-font-size);
    --m-font-size-byline: var(--m-font-size);

    --m-font-weight-title: var(--m-font-weight);
    --m-font-weight-byline: var(--m-font-weight);

    --m-font-family-title: var(--m-font-family);
    --m-font-family-byline: var(--m-font-family);

    /* font settings - part titles, subtitles, and authors */
    --m-font-size-title-part: var(--m-font-size-title);
    --m-font-size-subtitle-part: var(--m-font-size-subtitle);
    --m-font-size-byline-part: var(--m-font-size-byline);

    --m-font-weight-title-part: var(--m-font-weight-title);
    --m-font-weight-byline-part: var(--m-font-weight-byline);

    --m-font-family-title-part: var(--m-font-family-title);
    --m-font-family-byline-part: var(--m-font-family-byline);

    /* font settings - chapter titles, subtitles, and authors */
    --m-font-size-title-chapter:    var(--m-font-size);
    --m-font-size-subtitle-chapter: var(--m-font-size);
    --m-font-size-byline-chapter:   var(--m-font-size);

    --m-font-weight-title-chapter:  var(--m-font-weight);
    --m-font-weight-byline-chapter: var(--m-font-weight);

    --m-font-family-title-chapter:  var(--m-font-family);
    --m-font-family-byline-chapter: var(--m-font-family);

    /* font settings - scene titles, subtitles, and authors */
    --m-font-size-title-scene:    var(--m-font-size);
    --m-font-size-subtitle-scene: var(--m-font-size);
    --m-font-size-byline-scene:   var(--m-font-size);

    --m-font-weight-title-scene:  var(--m-font-weight);
    --m-font-weight-byline-scene: var(--m-font-weight);

    --m-font-family-title-scene:  var(--m-font-family);
    --m-font-family-byline-scene: var(--m-font-family);

    /* font settings - poem titles, subtitles, and authors */
    --m-font-size-title-poem:    var(--m-font-size);
    --m-font-size-subtitle-poem: var(--m-font-size);
    --m-font-size-byline-poem:   var(--m-font-size);

    --m-font-weight-title-poem:  var(--m-font-weight);
    --m-font-weight-byline-poem: var(--m-font-weight);

    --m-font-family-title-poem:  var(--m-font-family-poetry);
    --m-font-family-byline-poem: var(--m-font-family-poetry);

    /* font settings - the epigraphs */
    /*--m-font-size-epigraph: .8125rem;*/ /* 13px or ~9.75pt (if parent 16px) */
    /*--m-font-size-epigraph: .8333rem;*/ /* ~13.33px or 10pt */
    --m-font-size-epigraph: .9166rem; /* ~14.7px or 11pt */
    --m-font-weight-epigraph: var(--m-font-weight);
    --m-font-family-epigraph: var(--m-font-family);
    --m-font-style-epigraph: italic;
    --m-max-width-epigraph: calc(var(--m-content-width) - calc(var(--m-page-margin) * 2));

    /* font settings - the section separators (dinkus and -30-) */
    --m-font-size-dinkus-30-: var(--m-font-size);
    --m-font-weight-dinkus-30-: var(--m-font-weight);
    --m-font-family-dinkus-30-: var(--m-font-family);

    /* Class "m-facts" settings
     * fonts, line spacing, and postioning
     * (.m-facts is an oddball container)
     */

    /* font settings short/long - .m-facts */
    --m-font-size-facts-short:    var(--m-font-size-contact);
    --m-font-weight-facts-short:  var(--m-font-weight-contact);
    --m-font-family-facts-short:  var(--m-font-family-contact);
    --m-line-spacing-facts-short: var(--m-line-spacing-single);

    --m-font-size-facts-long:    inherit;
    --m-font-weight-facts-long:  inherit;
    --m-font-family-facts-long:  inherit;
    --m-line-spacing-facts-long: var(--m-line-spacing-single);

    /* .m-facts settings */
    --m-position-facts:     var(--m-position-facts-short);
    --m-top-facts:          var(--m-top-facts-short);
    --m-bottom-facts:       var(--m-bottom-facts-short);
    --m-left-facts:         var(--m-left-facts-short);
    --m-right-facts:        var(--m-right-facts-short);

    --m-margin-facts:       var(--m-margin-facts-short);
    --m-text-align-facts:   var(--m-text-align-facts-short);

    --m-font-size-facts:    var(--m-font-size-facts-short);
    --m-font-weight-facts:  var(--m-font-weight-facts-short);
    --m-font-family-facts:  var(--m-font-family-facts-short);
    --m-line-spacing-facts: var(--m-line-spacing-facts-short);
}
