/* Manuscript via CSS v2.0 — constants and configurations
 *
 * This contains all of the switches you can flip to massage the formatting of
 * your manuscript. To see what is available (and there are far too many
 * available, look for DEFAULTS below (starting around line number 130). Check
 * the example manuscripts in this repo, but, essentially, this
 * is how you override these settings. In your markdown, just add a :root {}
 * section in your <style> section ... and redeclare variable.

<style>
@import "manuscript.css";
@page { size: A4 portrait; margin: 25.4mm; }

:root {
     --m-font-family: "TeX Gyre Pagella", Palladio, Palantino, serif;
     --m-font-family-title: "Comic Neue", "Comic Sans", cursive;
     --m-font-family-subtitle: "Comic Neue", "Comic Sans", cursive;
     --m-font-family-author: "Comic Neue", "Comic Sans", cursive;
     --m-font-size-title: 1.5;
     --m-font-weight-title: bold;
     --m-font-weight-subtitle: medium;
     --m-indent: 2.5em;
}

 *
 * Copyright (c) Todd Warner <t0dd@protonmail.com>
 * This work is licensed under Attribution 4.0 International. To view a copy
 * of this license, visit http://creativecommons.org/licenses/by/4.0/
 */

@page { size: A4 portrait; margin: 25.4mm; }
@page { size: letter portrait; margin: 1in; }

:root {
    /*
     * BASE CONSTANTS
     */
    --m-page-widthA4: 210mm; --m-page-heightA4: 297mm; --m-page-marginA4: 25.4mm;
    --m-page-widthUS: 8.5in; --m-page-heightUS: 11in;  --m-page-marginUS: 1in;

    --m-page-width:  var(--m-page-widthUS);
    --m-page-height: var(--m-page-heightUS);
    --m-page-margin: var(--m-page-marginUS);
    --m-content-width:  calc(var(--m-page-width) - calc(var(--m-page-margin) * 2));
    --m-content-height: calc(var(--m-page-height) - calc(var(--m-page-margin) * 2));

    /* typefaces (fontstacks)
     * Manuscript standards, these or close equivalents:
     * - Times New Roman - for narrative works
     * - Arial or Helvetica - for non-narrative works . . . sometimes
     * - Courier New - when a monospaced typeface is needed
     * Those are all proprietary. But these font stacks below enable some
     * excellent close-equivalent open options for each category. */
    --m-fontstack-serif: "TeX Gyre Termes", "Croscore Tinos", Tinos, "Liberation Serif", "Times New Roman", serif;
    --m-fontstack-sans: "Croscore Arimo", Arimo, "Liberation Sans", Arial, sans-serif;
    --m-fontstack-sans-alt: "TeX Gyre Heros", "Nimbus Sans L", Helvetica, sans-serif;
    --m-fontstack-mono: "TeX Gyre Cursor", "Croscore Cousine", Cousine, "Liberation Mono", "Courier New", monospace;

    /* font-family - narrative and non-narrative */
    --m-font-family-narrative: var(--m-fontstack-serif);
    --m-font-family-non-narrative: var(--m-fontstack-serif);
    --m-font-family-narrative-preformatted: inherit;
    --m-font-family-non-narrative-preformatted: inherit;
    --m-font-family-narrative-code: var(--m-fontstack-mono);
    --m-font-family-non-narrative-code: var(--m-fontstack-mono);

    /* line-height (line spacing) - singlespace and doublespace */
    --m-line-spacing-single: 1.25;
    --m-line-spacing-single-plus: 1.5;
    --m-line-spacing-double: 2;

    /* first-line indent/inter-paragraph spacing - narrative & non-narrative */
    --m-indent-narrative: calc(var(--m-page-margin) / 2);
    --m-indent-narrative-first-paragraph: 0;
    --m-paragraph-spacing-narrative: 0;

    --m-indent-non-narrative: 0;
    --m-indent-non-narrative-first-paragraph: 0;
    --m-paragraph-spacing-non-narrative: 1em;

    /* Offset calculations used to offset title-header blocks from top of the
     * page. Manuscripts standards recommend placing the main title-block
     * header anywhere from 1/3rd to 1/2 down the page. And if a long-form
     * manuscript the same holds true for part headers and chapter headers.
     * Don't override or redefine these. */
    --m-page-offset-1-3rd: calc(var(--m-page-height) / 3); /* or 3.66666in US */
    --m-page-offset-5-12th: calc(var(--m-page-height) * 5 / 12); /* or 4.58333in US */
    --m-page-offset-half: calc(var(--m-page-height) / 2); /* or 5.5in US */
    --m-content-offset-1-3rd: calc(var(--m-page-offset-1-3rd) - var(--m-page-margin));
    --m-content-offset-5-12th: calc(var(--m-page-offset-5-12th) - var(--m-page-margin));
    --m-content-offset-half: calc(var(--m-page-offset-half) - var(--m-page-margin));

    /* additional margin/spacing nudges used here and there */
    --m-elbow-room: 1em;
    --m-room-for-two: 2em;

    /* Title-block headers offset settings - for short-form and long-form
     * I'm being a bit more than pedantic here. And note: parts & chapters have
     * different settings for screen rendering & print. (We "simulate" for the
     * screen.) */
    --m-offset-title-short: var(--m-content-offset-5-12th);
    --m-offset-title-long:  var(--m-content-offset-5-12th);

    --m-offset-parts-and-chapters-short: var(--m-room-for-two);
    --m-offset-parts-and-chapters-long:  var(--m-offset-title-long);
    --m-offset-parts-and-chapters-render-short: var(--m-room-for-two);
    --m-offset-parts-and-chapters-render-long:  var(--m-room-for-two);

    --m-offset-scene-short: var(--m-elbow-room);
    --m-offset-scene-long:  var(--m-elbow-room);

    --m-max-width-headers: calc(var(--m-content-width) - calc(var(--m-page-margin) * 1.5));

    /* left and right margins - pre and blockquote */
    /*--m-margins-preformatted: var(--m-elbow-room);*/
    --m-margins-preformatted: 0;
    --m-margins-blockquote:   calc(var(--m-indent-narrative) * 1.5);

    /* page breaks & simulated page breaks - short-form and long-form
     * DON'T MESS WITH THESE */
    --m-page-break-short: unset;
    --m-page-break-long:  page;

    --m-page-break-simulated-short: 0;            /* faded lightgray */
    --m-page-break-simulated-long:  5px dashed rgba(211,211,211,50%);

    /* the document facts (.m-facts) - short-form and long-form */
    --m-position-facts-short: absolute;
    --m-top-facts-short:  0;     --m-bottom-facts-short: unset;
    --m-left-facts-short: unset; --m-right-facts-short:  0;
    --m-margin-facts-short: unset;
    --m-text-align-facts-short: right;

    --m-position-facts-long: static;
    --m-top-facts-long:  unset; --m-bottom-facts-long: unset;
    --m-left-facts-long: unset; --m-right-facts-long:  unset;
    --m-margin-facts-long:  var(--m-room-for-two) auto 0;
    --m-text-align-facts-long: center;

    /*
     * DEFAULTS
     * - baseline font-size, font-weight, font-family, and line-spacing
     * - indent and inter-paragraph spacing settings when needed
     * - text-alignment
     * - title offsets (distance down the page if triggered by a page break)
     * - All are initially set to expected manuscript standards
     */

    --m-font-size:                16px; /* 16px = 12pt */
    --m-font-size-preformatted:   inherit;
    --m-font-weight:              normal;
    --m-font-family:              var(--m-font-family-narrative);
    --m-font-family-preformatted: var(--m-font-family-narrative-preformatted);
    --m-font-family-code:         var(--m-font-family-narrative-code);
    --m-line-spacing:             var(--m-line-spacing-double);

    --m-indent:                 var(--m-indent-narrative);
    --m-indent-first-paragraph: var(--m-indent-narrative-first-paragraph);
    --m-paragraph-spacing:      var(--m-paragraph-spacing-narrative);

    --m-text-align:             start;

    --m-offset-title: var(--m-offset-title-short);
    --m-offset-parts-and-chapters: var(--m-offset-parts-and-chapters-short);
    --m-offset-parts-and-chapters-render: var(--m-offset-parts-and-chapters-render-short);
    --m-offset-scene: var(--m-offset-scene-short);

    /* additional font settings - code and preformatted text */
    --m-font-size-code-inline: inherit;
    --m-font-weight-code-inline: inherit;
    --m-font-weight-preformatted: inherit;
    --m-line-spacing-preformatted: inherit;
    --m-font-weight-code: inherit;
    --m-line-spacing-code: inherit;

    /*
     * DEFAULTS
     * - per-component font-size, font-weight, font-family, and line-spacing
     *   Initially all are set to what was set above.
     * - line spacing for .m-facts is thrown in here as well
     * This is insanely pedantic, I know.
     */

    /* font settings - contact info (and facts if put in the right corner */
    --m-font-size-contact:    var(--m-font-size);
    --m-font-weight-contact:  var(--m-font-weight);
    --m-font-family-contact:  var(--m-font-family);
    --m-line-spacing-contact: var(--m-line-spacing-single);

    /* font settings - the main title-block header */
    --m-font-size-header: var(--m-font-size);
    --m-font-size-headers: var(--m-font-size);
    --m-font-weight-header: var(--m-font-weight);
    --m-font-weight-headers: var(--m-font-weight);
    --m-font-family-header: var(--m-font-family);
    --m-font-family-headers: var(--m-font-family);

    /* font settings - the main other headers */

    /* font settings - the main titles, subtitles, and authors */
    --m-font-size-title: var(--m-font-size-titles);
    --m-font-size-subtitle: var(--m-font-size-subtitles);
    --m-font-size-author: var(--m-font-size-authors);

    --m-font-weight-title: var(--m-font-weight-titles);
    --m-font-weight-author: var(--m-font-weight-authors);

    --m-font-family-title: var(--m-font-family-titles);
    --m-font-family-author: var(--m-font-family-authors);

    /* font settings - part titles, subtitles, and authors */
    --m-font-size-title-part: var(--m-font-size-title);
    --m-font-size-subtitle-part: var(--m-font-size-subtitle);
    --m-font-size-author-part: var(--m-font-size-author);

    --m-font-weight-title-part: var(--m-font-weight-title);
    --m-font-weight-author-part: var(--m-font-weight-author);

    --m-font-family-title-part: var(--m-font-family-title);
    --m-font-family-author-part: var(--m-font-family-author);

    /* font settings - chapter titles, subtitles, and authors */
    --m-font-size-title-chapter:    var(--m-font-size);
    --m-font-size-subtitle-chapter: var(--m-font-size);
    --m-font-size-author-chapter:   var(--m-font-size);

    --m-font-weight-title-chapter:  var(--m-font-weight);
    --m-font-weight-author-chapter: var(--m-font-weight);

    --m-font-family-title-chapter:  var(--m-font-family);
    --m-font-family-author-chapter: var(--m-font-family);

    /* font settings - scene titles, subtitles, and authors */
    --m-font-size-title-scene:    var(--m-font-size);
    --m-font-size-subtitle-scene: var(--m-font-size);
    --m-font-size-author-scene:   var(--m-font-size);

    --m-font-weight-title-scene:  var(--m-font-weight);
    --m-font-weight-author-scene: var(--m-font-weight);

    --m-font-family-title-scene:  var(--m-font-family);
    --m-font-family-author-scene: var(--m-font-family);

    /* font settings - the epigraphs */
    /*--m-font-size-epigraph: .8125em;*/ /* 13px or ~9.75pt (if parent 16px) */
    /*--m-font-size-epigraph: .8333em;*/ /* ~13.33px or 10pt */
    --m-font-size-epigraph: .9166em; /* ~14.7px or 11pt */
    --m-font-weight-epigraph: var(--m-font-weight);
    --m-font-family-epigraph: var(--m-font-family);
    --m-font-style-epigraph: italic;
    --m-max-width-epigraph: calc(var(--m-content-width) - calc(var(--m-page-margin) * 2));

    /* font settings - the section separators (dinkus and -30-) */
    --m-font-size-dinkus-30-: var(--m-font-size);
    --m-font-weight-dinkus-30-: var(--m-font-weight);
    --m-font-family-dinkus-30-: var(--m-font-family);

    /*
     * DEFAULTS
     * - .m-facts font settings, line spacing, and postioning
     *   (.m-facts is an oddball container)
     */

    /* font settings short/long - .m-facts */
    --m-font-size-facts-short:    var(--m-font-size-contact);
    --m-font-weight-facts-short:  var(--m-font-weight-contact);
    --m-font-family-facts-short:  var(--m-font-family-contact);
    --m-line-spacing-facts-short: var(--m-line-spacing-single);

    --m-font-size-facts-long:    inherit;
    --m-font-weight-facts-long:  inherit;
    --m-font-family-facts-long:  inherit;
    --m-line-spacing-facts-long: inherit;

    /* .m-facts settings */
    --m-position-facts:     var(--m-position-facts-short);
    --m-top-facts:          var(--m-top-facts-short);
    --m-bottom-facts:       var(--m-bottom-facts-short);
    --m-left-facts:         var(--m-left-facts-short);
    --m-right-facts:        var(--m-right-facts-short);

    --m-margin-facts:       var(--m-margin-facts-short);
    --m-text-align-facts:   var(--m-text-align-facts-short);

    --m-font-size-facts:    var(--m-font-size-facts-short);
    --m-font-weight-facts:  var(--m-font-weight-facts-short);
    --m-font-family-facts:  var(--m-font-family-facts-short);
    --m-line-spacing-facts: var(--m-line-spacing-facts-short);

    /*
     * DEFAULTS -- other things
     * - hyphenation and #manuscript's fancy border for the screen rendered
     *   document.
     */

    /* page break settings */
    --m-page-break: var(--m-page-break-short);
    --m-page-break-simulated: var(--m-page-break-simulated-short);

    /* Hyphenation - DON'T CHANGE THIS
     * Manuscript standards almost universally state never fully justified and
     * never hyphenated. But here's the variable switch if you want to play
     * around: manual or auto.
     *
     * IMPORTANT: hyphenation only works if the lang attribute is set in the
     * html element (eg: <html lang="en"> or set in the elements managing the
     * text you want to be hyphenated. Most markdown editors don't set this. */
    --m-hyphens: manual; /* manual = no hyphenation; auto = hyphenate */

    /* Decorative border (screen rendering only) - DISABLED FOR NOW
     * A border wrapping the manuscript content. Set this to 0 in your
     * manuscript to disable. */      /* faded lightgray */
    --m-manuscript-border: 1px solid rgba(211,211,211,50%);

    /*--m-link-color: rgb(0,0,238);*/ /* a browser default blue */
    --m-link-color: rgb(0,32,194);  /* Cobalt Blue */

    /* default / typical -30- and dinkus markers
     * Note: for manuscript, the solitary # sign is the most typical/standard
     *       scene-break marker. --m-dinkus is automatically inserted between
     *       scenes. --m--30- is not yet. */
    --m--30--alt0: "The End";
    --m--30--alt1: "# # #"
    --m--30--alt2: "🙞 ❦ 🙜"
    --m--30--alt3: "🙞  🙜"
    --m--30--alt4: "- 30 -"
    --m-dinkus-alt0: "#";
    --m-dinkus-alt1: "* * *";
    --m-dinkus-alt2: "⁂";
    --m-dinkus-alt3: "❦"
    --m-dinkus: var(--m-dinkus-alt0);
    --m--30-: var(--m--30--alt0);
}
