html { font-size: var(--m-font-size); } /* 1rem defined */
html, body { background-color: rgb(204 204 204); } /* off-white */

/* 2 deep (or more) ordered lists use lower-latin (a, b, c, ...) */
:is(ol, ul, menu) ol {
  /*list-style-type: circle;*/
  list-style-type: lower-latin;
}
/* 2 deep unordered lists use an endash */
:is(ol, ul, menu) ul,
:is(ol, ul, menu) menu {
  /*list-style-type: circle;*/
  list-style-type: "- ";
}
/* 3+ deep unordered lists use an endash - here to override defaults */
:is(ol, ul, menu) :is(ol, ul, menu) ul,
:is(ol, ul, menu) :is(ol, ul, menu) menu {
  /*list-style-type: square;*/
  list-style-type: "- ";
}


/* printing / exporting to an actual page
 * HTML and BODY need to be transparent and the vpage container becomes
 * undefined (@page replaces its purpose) and the manuscript container goes back
 * to being a plain 'ol box filling the page.
 */
@media print {
html, body { background-color: rgb(0 0 0 / 0%); }
} /* /print */



