/* CSS for Manuscript Formating v3.0
 *
 * poetry stylings
 *
 * Poetry is styled by adding the 'poetry' class value to the
 * 'article#manuscript' entity. By default, it is configured as a short form
 * manuscript. If you wish a 'long' form manuscript, you would add 'long' to that
 * same entity.
 *
 * an m-poem class operates very similarly to both an m-scene class but
 * but also an x-poem class.
 *
 * A section.m-poem can only house a poem, but a header and has it's own
 * spacing rules within a manuscript.
 *
 * A div.x-poem is useful for inserting poems in section.m-scene and .m-header
 * blocks. I.e., arbitrary poems.
 *
 * A prose manuscript is structured as a series of scenes. Crudely, it looks
 * something like this:
 *
 * <div id="vpage"><article id="manuscript" class="poetry">
 * <section class="m-poem">
 * ```plaintext
 * …a poem…
 * ```
 * </section>
 * <section class="m-poem">
 * ```plaintext
 * …a poem…
 * ```
 * </section>
 * </article>
 * </div>
 *
 * Please reference the provided examples.
 *
 * Copyright (c) Todd Warner <t0dd@protonmail.com>
 * This work is licensed under Attribution 4.0 International. To view a copy
 * of this license, visit http://creativecommons.org/licenses/by/4.0/
 */

#manuscript {

    /*
     * div.x-poem — arbitrary poems
     */
    & .x-poem {
        /* space at the begining & ending */
        margin-block: var(--m-spacing-poem);
        /* margins left & right with exceptions (see below) */
        margin-inline: var(--m-margin-poem);
        > .m-header {
            /* H-tags and P-tags - align left */
            & :is(h1,h2,h3,h4,h5,h6,p) {
                text-align: var(--m-text-align);
            }
            /* extra space at end of .m-header before the poem */
            margin-block-end: var(--m-spacing-poem);
        }
    }


    /*
     * div.x-poem (arbitrary poem) inside of an .m-header
     */
    & > .m-header .x-poem,
    &.m-scene .m-header .x-poem {
        /* if within an m-header, center the whole block (like the rest of the
         * prose and epigraph) */
        width: max-content;
        max-width: min(max-content, 100%);
        margin-inline: auto;
     }
    & .m-scene > .x-poem {
        margin-inline: var(--m-margin-poem);
        margin-block: calc(var(--m-spacing-poem) * 2);
    }

    /*
     * section.m-poem
     */

    & section.m-poem {
        & .m-header :is(p, h1, h2, h3, h4, h5, h6),
        & .m-header > .x-poem {
            margin-inline-start: 0;
        }

        /* poetry content:
         * small margin between poetry content and a poem's title block if it
         * exists */
        & > div.m-header + * {
            padding-top: var(--m-room-for-two);
        }

        /* ALERT! ALERT! ALERT! ERROR IN FORMATING
         * make stuff in a poem section that isn't poem stuff red and wrong */
        & > :not(.m-header,pre,code,.joplin-editable) {
            color: red !important;
            font-weight: bold;
            text-decoration: line-through;
        }
    } /* end section.m-poem */

} /* end #manuscript */

