/* CSS for Manuscript Formating v3.0
 *
 * prose stylings
 *
 * Note, 'prose' is the default. There is no configuration if you are writing
 * prose to differentiate it from poetry.
 *
 * Note, 'narrative' is the default. If you wish to format things to a
 * 'nonnarrative' standard, add the 'nonnarrative' class value to the
 * article#manuscript element in your document. See examples.
 *
 * Note, short form formatting is the default. If you want to format things
 * to a a more 'long' form standard, add the 'long' class value to the
 * article#manuscript element in your document. See examples.
 *
 * A prose manuscript is structured as a series of scenes. Crudely, it looks
 * something like this:
 *
 * <div id="vpage"><article id="manuscript">
 * <section class="m-scene"> …your words… </section>
 * <section class="m-scene"> …your words… </section>
 * <section class="m-scene"> …your words… </section>
 * </article>
 * </div>
 *
 * … or, for example, two chapters …
 *
 * <div id="vpage"><article id="manuscript" class="long">
 * <section class="m-chapter">
 * <section class="m-scene"> …your words… </section>
 * <section class="m-scene"> …your words… </section>
 * </section>
 * <section class="m-chapter">
 * <section class="m-scene"> …your words… </section>
 * <section class="m-scene"> …your words… </section>
 * <section class="m-scene"> …your words… </section>
 * <section class="m-scene"> …your words… </section>
 * </section>
 * </article>
 * </div>
 *
 * Please reference the provided examples.
 *
 * Copyright (c) Todd Warner <t0dd@protonmail.com>
 * This work is licensed under Attribution 4.0 International. To view a copy
 * of this license, visit http://creativecommons.org/licenses/by/4.0/
 */


#manuscript {
    & > :not(p) + p {
        /* a paragraph after a non-paragraph is not indented */
        text-indent: var(--m-indent-first-paragraph-scene);
    }
    & :is(section) :is(h1,h2,h3,h4,h5,h6) + p,
    & :is(section) :is(section) :is(h1,h2,h3,h4,h5,h6) + p {
        margin-top: 0;
        margin-block-start: 0;
    }

    & blockquote {
        /* H-tags and P-tags - align left/start the prose */
        & :is(h1,h2,h3,h4,h5,h6,p) {
            display: block;
            margin: 0; padding: 0; border: 0;
            text-align: var(--m-text-align);
            line-height: var(--m-line-spacing);
            hyphens: var(--m-hyphens);
        }
        /* H-tags - spacing between H-tags in the blockquotes
         * Note, the exclusions are pedantic. */
        & > :is(h1,h2,h3,h4,h5,h6),
        & :not(ol,ul,dl,menu,table) :is(h1,h2,h3,h4,h5,h6) {
            margin-top: var(--m-elbow-room);
            margin-block-start: var(--m-elbow-room);
        }
        & > p {
            text-indent: var(--m-indent-scene);
            margin-top: var(--m-paragraph-spacing-scene);
            margin-block-start: var(--m-paragraph-spacing-scene);
        }
        & > p:first-of-type {
            /* first paragraph usually has no indent */
            text-indent: var(--m-indent-first-paragraph-scene);
        }

    } /* end #manuscript blockquote */


    /*
     * Scenes -------------------
     */

    & section.m-scene {
        /* H-tags and P-tags - align left/start the prose */
        & :is(h1,h2,h3,h4,h5,h6,p) {
            display: block;
            padding: 0; border: 0;
            text-align: var(--m-text-align);
            line-height: var(--m-line-spacing);
            hyphens: var(--m-hyphens);
        }
        & > :is(p:first-of-type,
                h1:first-child, h2:first-child, h3:first-child,
                h4:first-child, h5:first-child, h6:first-child) {
            margin-top: 0 !important;
            margin-block-start: 0 !important;
        }

        font-family: var(--m-font-family-scene);
        & code {
            font-family: var(--m-font-family-code-scene);
        }
        & pre,
        & pre > code {
            font-family: var(--m-font-family-preformatted-scene);
        }

        /*
         * Normal Scene (not a foothang scene)
         */

        &:not(.foothang) {
            /* paragraphs - spacing between paragraphs in normal scenes
             *              indents at the start
             * Note, the exclusions are pedantic. */
            & > :is(h1,h2,h3,h4,h5,h6),
            & :not(.x-poem,.m-header, ol,ul,dl,menu, li,dt,dd, table,thead,tbody,tfoot,th,tr,td,colgroup,col) {
                & :is(h1,h2,h3,h4,h5,h6) {
                    margin-top: var(--m-elbow-room);
                    margin-block-start: var(--m-elbow-room);
                }
            }
            & > p {
                text-indent: var(--m-indent-scene);
                margin-top: var(--m-paragraph-spacing-scene);
                margin-block-start: var(--m-paragraph-spacing-scene);
            }
            & p:first-of-type {
                /* first paragraph usually has no indent */
                text-indent: var(--m-indent-first-paragraph-scene);
            }
            & :not(p) + p {
                /* a paragraph after a non-paragraph is not indented */
                text-indent: var(--m-indent-first-paragraph-scene);
                margin-top: var(--m-paragraph-spacing-scene);
                margin-block-start: var(--m-paragraph-spacing-scene);
            }
        } /* end #manuscript section.m-scene:not(.foothang) */


        /*
         * Scene's Subscenes - experimental. may go away.
         */

        /* ... subscenes: subscenes spacing BEFORE subscenes block */
        & > :not(div,section,article,h1,h2,h3,h4,h5,h6) + section.m-subscenes::before {
            content: var(--m-marker-zws); /* &zerowidthspace */
            margin-top: calc(var(--m-offset-scene) * 2);
        }
        /* ... subscenes: subscenes spacing AFTER subscenes block */
        & section.m-subscenes::after {
            content: var(--m-marker-zws); /* &zerowidthspace */
            margin-bottom: calc(var(--m-offset-scene) * 2);
        }

        & > section.m-subscenes:first-child,
        & section.m-subscenes {
            & > section.m-scene:first-child {
                padding-top: 0;
            }
            & > section.m-scene:last-child {
                /*padding-bottom: calc(var(--m-offset-scene) * 3);*/
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }

        /*
         * Scene padding at the top
         */

        /* each scene or a set of subscenes: small padding at top */
        padding-top: var(--m-offset-scene);
        &:not(:first-of-type,:has( > .m-header)) {
            padding-top: var(--m-paragraph-spacing-scene);
        }
        /* prose content - there may be a small margin (non-narrative) between
         * prose content and a scene's header block if it exists */
        & > .m-header + * {
            padding-top: var(--m-paragraph-spacing-scene);
        }

        /*
         * Scene's last children are treated special-like
         */

        /* all last elements within a scene: zero-out bottom spacing */
        & > *:last-child {
            margin-bottom: 0; padding-bottom: 0;
        }
        /* all last elements within a scene: zero-out ::after content and spacing  */
        & > *:last-child::after {
            content: "";
            margin-top: 0; padding-top: 0;
            margin-bottom: 0; padding-bottom: 0;
        }
    } /* end #manuscript section.m-scene */


    /*
     * foothangs ------------
     */ 

    /* .m-scene or any other major block with a class .foothang
     * will format the paragraphs as foothangs */
    & :is(section,blockquote,div).foothang p {
        padding-left: var(--m-indent-foothang);
        /* hanging indent */
        text-indent: calc(var(--m-indent-foothang) * -1);
    }

} /* end #manuscript */

